:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}
.container-grid {
  width: 80%;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}
.container-info {
  background-color: #023047;
  border-radius: 10px;
  width: 220px;
  height: 120px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #EEEEEE;
  padding: 15px;
  justify-content: center;
}
.item-grid1 {
  width: 400px;
  height: 350px;
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 4;
  align-items: center;

}
.item-grid2,
.item-grid3 {
  grid-row: 2;
}

.item-grid4,
.item-grid5 {
  grid-row: 3;
}
.item-grid1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.item-grid1 .text p:first-child {
  font-size: 1.2rem;

}
.item-grid1 .text p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 700;
}
.temperatura-agora {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.temperatura-agora img {
  width: 80px;
}
.temperatura-agora p {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
}
.info-adic-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.info-adic-container .info-adic {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.info-adic-container .info-adic img {
  width: 30px;
  margin-right: 5px;
}
.info-adic-container .sensacao span {
  margin-left: 8px;
}
.button-more-details {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #219EBC;
  color: #EEEEEE;
  font-weight: 700;
  transition: all .2s;
}
.button-more-details:hover {
  background-color: #147086;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.item-grid1 .date p {
  font-size: 0.8rem;
  opacity: 0.7;
}
.item-grid1 .date span {
  margin-right: 5px;
}
.item-grid1 .table-previsao {
  text-align: center;
  width: 80%;
}
.item-grid1 .table-previsao td img {
  width: 25px;
}
.item-grid1 .table-previsao .seta.azul img {
  transform: rotate(180deg);
}
.item-grid1 .table-previsao .seta {
  position: absolute;
}
.container-info .text-info {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.container-info .weather-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.container-info .weather-info img {
  width: 40px;
  margin-right: 10px;
}
.container-info.item-grid3 .radiacao-agora img {
  width: 20px;
}


