:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}
.container-grid {
  width: 80%;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}
.container-grid .container-info {
  background-color: #023047;
  border-radius: 10px;
  width: 220px;
  height: 120px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #EEEEEE;
  padding: 15px;
  justify-content: center;
}
.container-grid .container-info.item-grid1 {
  width: 350px;
  height: 400px;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 4;
  align-items: center;
}
.container-grid .container-info.item-grid2,
.container-grid .container-info.item-grid3 {
  grid-row: 2;
}

.container-grid .container-info.item-grid4,
.container-grid .container-info.item-grid5 {
  grid-row: 3;
}
.container-grid .container-info.item-grid1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.container-grid .container-info.item-grid1 .text p:first-child {
  font-size: 1.2rem;

}
.container-grid .container-info.item-grid1 .text p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 700;
}
.container-grid .container-info.previsao-tempo .temperatura-agora {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container-grid .container-info .temperatura-agora img {
  width: 80px;
}
.container-grid .container-info .temperatura-agora p {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
}
.container-grid .container-info.item-grid1 .info-adic .sensacao {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.container-grid .container-info.item-grid1 .info-adic .sensacao img {
  width: 30px;
  margin-right: 5px;
}
.container-grid .container-info.item-grid1 .info-adic .sensacao span {
  margin-left: 8px;
}

.container-grid .container-info.item-grid1 .table-previsao {
  text-align: center;
  width: 80%;
}
.container-grid .container-info.item-grid1 .table-previsao td img {
  width: 25px;
}
.container-grid .container-info.item-grid1 .table-previsao .seta.azul img {
  transform: rotate(180deg);
}
.container-grid .container-info.item-grid1 .table-previsao .seta {
  position: absolute;
}
.container-grid .container-info .text-info {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.container-grid .container-info .weather-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.container-grid .container-info .weather-info img {
  width: 40px;
  margin-right: 10px;
}
.container-grid .container-info.item-grid3 .radiacao-agora img {
  width: 20px;
}


