:host {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  padding: 0 20px;
}
.text-current-weather span {
  margin-right: 5px;
  font-weight: 700;
}
.text-current-weather p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  border: 1px solid #023047;
  border-radius: 32px;
  padding: 5px 10px;
  user-select: none;
  text-align: center;
  display: none;
}
.container-grid {
  width: 100%;

  display: grid;
  grid-template-areas:
  "item-grid1 container-info container-info"
  "item-grid1 container-info container-info"
  "item-grid1 container-info container-info";
  gap: 50px;
  padding: 20px 0;
  justify-content: center;
}
.container-info {
  background-color: #023047;
  border-radius: 10px;
  width: 220px;
  height: 120px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #EEEEEE;
  padding: 15px;
  justify-content: center;
  grid-area: "container-info";

}
.item-grid1 {
  width: 400px;
  height: 350px;
  justify-content: space-between;
  align-items: center;
  grid-area: "item-grid1";
  grid-row: item-grid1;
}

.item-grid1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.item-grid1 .text p:first-child {
  font-size: 1.2rem;

}
.item-grid1 .text p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 700;
}
.temperatura-agora {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.temperatura-agora img {
  width: 80px;
}
.temperatura-agora p {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
}
.info-adic-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-adic-container .info-adic {
  display: flex;
  align-items: center;
  margin: 10px 10px 0;
}
.info-adic-container .info-adic img {
  width: 30px;
  margin-right: 5px;
}
.info-adic-container .sensacao span {
  margin-left: 8px;
}
.button-more-details {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #219EBC;
  color: #EEEEEE;
  font-weight: 700;
  transition: all .2s;
}
.button-more-details:hover {
  background-color: #147086;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.item-grid1 .date p {
  font-size: 0.8rem;
  opacity: 0.7;
}
.item-grid1 .date span {
  margin-right: 5px;
}
.item-grid1 .table-previsao {
  text-align: center;
  width: 80%;
}
.item-grid1 .table-previsao td img {
  width: 25px;
}
.item-grid1 .table-previsao .seta.azul img {
  transform: rotate(180deg);
}
.item-grid1 .table-previsao .seta {
  position: absolute;
}
.container-info .text-info {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.container-info .weather-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.container-info .weather-info img {
  width: 40px;
  margin-right: 10px;
}
.container-info.item-grid3 .radiacao-agora img {
  width: 20px;
}

@media only screen and (max-width: 1000px) {
  :host {
    min-height: 700px;
  }
  .container-grid {
    grid-template-areas:
    "item-grid1 container-info"
    "item-grid1 container-info"
    ;
    gap: 20px;
  }
  .container-info {
    width: 100%;
    height: 100%;
  }
  .item-grid1 {
    width: 100%;
    height: 350px;
  }
  .text-current-weather p {
    margin-top: 80px;
    display: block;
  }
}

@media only screen and (max-width: 530px) {
  :host {
    min-height: 1100px;

  }
  .container-grid {
    grid-template-areas:
    "item-grid1"
    "container-info";
    gap: 20px;
    padding: 20px 0;
  }
}
