
<main class="container-grid">

  <div class="container-info previsao-tempo item-grid1">

    <div class="text">
      <p>Tempo agora em</p>
      <p>{{weatherData.name}}<span>/{{weatherData.state}}</span></p>
    </div><!--text-->
    <div class="temperatura-agora">
      <img src="assets/{{weatherData.data.icon}}.png" alt="Imagem ilustrativa da condição climática">
      <p>{{weatherData.data.temperature}}º</p>
    </div><!--temperatura-agora-->

    <div class="info-adic-container">
      <div class="info-adic sensacao">
        <img src="assets/sensacao.png" alt="Ícone vapor">
        <p>Sensação<span>{{weatherData.data.sensation}}</span>º</p>
      </div><!--sensacao-->
      <div class="info-adic condition">
        <img src="assets/nuvem_icon.png" alt="Ícone Nuvem">
        <p>{{weatherData.data.condition}}</p>
      </div><!--condition-->
    </div><!--info-adic-->
    <div class="button">
      <input class="button-more-details" type="button" value="Ver previsão" routerLink="/forecast"/>
    </div><!--button-->
    <div class="date">
      <p><span>Dados atualizados</span>{{weatherData.data.date | date: 'dd/MM/yyyy HH:mm'}}</p>
    </div><!--date-->

  </div><!--container-info previsao-tempo item-grid1-->

  <div class="container-info umidade-agora item-grid2">
    <div class="text-info">
      <p>Umidade</p>
    </div><!--text-info-->
    <div class="weather-info umidade-agora">
      <img src="assets/umidade_icon.png" alt="Umidade">
      <p>{{weatherData.data.humidity}}<span>%</span></p>
    </div><!--umidade-agora-->
  </div><!--container-info umidade-agora item-grid2-->

  <div class="container-info radiacao-uv item-grid3">
    <div class="text-info">
      <p>Radiação Uv</p>
    </div><!--text-info-->
    <div class="weather-info radiacao-agora">
      <img src="assets/circulo_verde.png" alt="Circulo Verde">
      <p>Baixo</p>
    </div><!--weather-info radiacao-agora-->
  </div><!--container-info radiacao-uv item-grid3-->

  <div class="container-info precao item-grid4">
    <div class="text-info">
      <p>Pressão</p>
    </div><!--text-info-->
    <div class="weather-info pressao-agora">
      <img src="assets/atmosferico_icon.png" alt="Pressão atmosférica">
      <p>{{weatherData.data.pressure}}<span>hPa</span></p>
    </div><!--weather-info pressao-agora-->
  </div><!--container-info precao item-grid4-->

  <div class="container-info chuva item-grid5">
    <div class="text-info">
      <p>Chuva</p>
    </div><!--text-info-->
    <div class="weather-info chuva-agora">
      <img src="assets/chuva_icon.png" alt="Nuvem com chuva">
      <p>29%</p>
    </div><!--weather-info chuva-agora-->
  </div><!--container-info chuva item-grid5-->

</main><!--container-div-->



