<header class="header-container">
  <img src="assets/logo_comp_semfundo2.png" alt="Logotipo MeteoCiima" class="logo">
  <p><span>Hoje:</span>{{forecastData.data[0].text_icon.text.phrase.reduced}}</p>
</header>

<div class="container" role="main">

</div>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="links">
    <ul class="footer-links">
      <li class="title-links">Tempo</li>
      <li><a href="/index">Tempo agora</a></li>
      <li><a href="/forecast">Previsão 7 dias</a></li>
    </ul>
  </div><!--links-->

  <div class="line"></div>



  <div class="social-media">
    <h4>Alison Rodrigues</h4>
    <a href="https://github.com/Alison-Rodrigues" target="_blank"><img src="assets/github_icon.png" alt="Ícone Github"></a>
    <a href="https://www.linkedin.com/in/alison-rodrigues-si/" target="_blank"><img src="assets/linkedin_icon.png" alt="Ícone Linkedin"></a>

  </div><!--social-media-->
  <p>Todos os direitos reservados 2022</p>

</footer><!--footer-->
